.page1_logo{background:url(<%=_resRoot%>/image/baiduHome/pro7/logo.png?v=202004161041)  no-repeat;}
		.pro_header_content .fkw_logo{width: 1.5rem;height: .36rem;
		}
		.jzPro6_topBar{ position: fixed; top:0;width:100%;    z-index: 777;}
		.text_indent{text-indent: -9999px;
		}
		.pro_header{width:100%; height:.55rem;border-radius:1px;  background:rgba(9,31,80,.6);
		}
		.pro_header_content{width:75%;margin: 0 auto; display:flex; align-items: center;justify-content: space-around;height: 100%;}
		.pro_header_nav li{float:left;padding-right:.6rem;position:relative;}
		.pro_header_nav:after{
			content:'';
			display:inline-block;
			clear:both;
		}
		.pro_header_nav li a{
			color: #6CCAFB;
			font-size:.18rem;
		}
		.pro_header_nav li a:hover{
			color:#0092df;
		}
		.pro_header_nav li:not(:last-of-type):after{
			position:absolute;
			top: 50%;
			right: 27%;
			transform: translateY(-50%);
			content: '';
			width:.02rem;
			height:.1rem;
			background:rgba(109,202,251,1);
			opacity:0.2;
		}
		.pro_header_nav li:nth-of-type(4):after{
			right: 22%;
		}