[accept]:after {
    content: "Acceptable file types: " attr(accept);
 }
 a[accesskey]:focus:after {
    content: " AccessKey: " attr(accesskey);
 }
 [open]{
     color: aqua;
 }
 body{
     --2:200px;
     --1:100px;
 }
 
 .bor,
 .bor3,
 .bor::after,
 .bor::before,
 .bor2,
 .bor2::after,
 .bor2::before,
 .b::after,
 .b::before{
     width: var(--2);
     box-sizing: border-box;
     height: var(--2);
     display: block;
 }
 .b,.b1{
     position: absolute;
     right: 0;
    height: var(--2);
    width: var(--1);
 }
 .bor::after,.bor::before{
    display: block;
    content: '';
 }
 .bor::after{
     margin-top: -200px;
     border: 1px solid rgb(255, 44, 174);
     border-top-left-radius: var(--2);
     border-bottom-right-radius:var(--2);
 }
 .bor::before{
    border: 1px solid rgb(235, 72, 72);
    border-top-right-radius: var(--2);
    border-bottom-left-radius:var(--2);
}
.bor2,.bor3{
    position: relative;
}
.bor2::after,
.bor2::before,
.b::after,
.b::before,
.b1::after,
.b1::before,
.bor3::before,
.bor3::after,
.bor3::before,
.bor3::after{
    text-align: center;
    color:saddlebrown;
    text-shadow: 1px 2px 1px #fdc;
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent; 
    line-height: var(--1);
    box-sizing: border-box;
    position: absolute;
    width: var(--1);
    height: var(--1);
    content: attr(title);
    animation: aRUn 1s linear infinite alternate;
}
.bor2::after{
    bottom: 0;
     border: 1px solid rgb(255, 44, 174);
     border-top-left-radius: var(--1);
     border-bottom-left-radius: var(--1);
     border-bottom-right-radius:var(--1);
 }
 .bor2::before{
    border: 1px solid rgb(235, 72, 72);
    border-top-right-radius: var(--1);
    border-top-left-radius: var(--1);
    border-bottom-left-radius:var(--1);
}
.b::after{
    right: 0;
    border: 1px solid slateblue;
    border-top-left-radius: var(--1);
    border-top-right-radius: var(--1);
    border-bottom-right-radius:var(--1);
}
.b::before{
    bottom: 0;
    border: 1px solid rgb(48, 93, 238);
    border-bottom-left-radius: var(--1);
    border-top-right-radius: var(--1);
    border-bottom-right-radius:var(--1);
}
.bor3{
    border-radius: 50%;
    border: 1px solid rgb(39, 84, 235);
    
}
.bor,.bor2,.bor3{
    
    animation: run 1.5s ease-in-out infinite alternate;
}
.bor2{
    animation-delay: .4s;
    transform-origin: center left 0;
}
.bor3{
    animation-delay: .6s;
    transform-origin: right center 0;
}
.bor3::after{
    bottom: 0;
    border: 1px solid seagreen;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-right-radius: var(--1);
    border-bottom-left-radius:var(--1);
}
.bor3::before{
    border: 1px solid sandybrown;
    border-top-color: transparent;
    border-left-color: transparent;
    border-top-left-radius: var(--1);
    border-bottom-right-radius:var(--1);
}
.b1::after{
    bottom: 0;
    border: 1px solid slateblue;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-left-radius: var(--1);
    border-bottom-right-radius:var(--1);
    
}
.b1::before{
    border: 1px solid aqua;
    border-top-color: transparent;
    border-right-color: transparent;
    border-top-right-radius: var(--1);
    border-bottom-left-radius:var(--1);
    
}
.wrapper{
    width: 300px;
    animation: go 5s linear infinite alternate;
}
@keyframes go{
    0%{
        transform: translateX(0);
    }
    0%{
        transform: translateX(1500px);
    }
}
@keyframes run{
    0%{
        opacity: 0.5;
        transform: scale(.8) translate3d(0,0,0);
    }
    100%{
        opacity: 1;
        transform: scale(1.2) translate3d(100px,50px,100px);
    }
}
/* @keyframes aRUn{
    0%{
        background:-webkit-linear-gradient(bottom,rgb(255, 0, 0),#fd4a03,rgb(255, 102, 0)); 
    }
    10%{
        background:-webkit-linear-gradient(bottom,rgb(255, 145, 0),#c08342,rgb(229, 255, 0)); 
    }
    100%{
        background:-webkit-linear-gradient(bottom,rgb(88, 110, 48),#87df7f,rgb(0, 255, 234));
    }
} */